<ng-container *ngIf="!item.hidden">

    <!-- item.routerLink-->
    <a class="nav-link" [ngClass]="item.classes" *ngIf="item.routerLink && !item.externalUrl && !item.function"
        [routerLink]="item.routerLink" routerLinkActive="routerLink--active"
        [routerLinkActiveOptions]="{exact: item.exactMatch || false}" [target]="item.openInNewTab ? '_blank' : '_self'">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <!-- item.externalUrl -->
    <a class="nav-link" [ngClass]="item.classes" *ngIf="!item.routerLink && item.externalUrl && !item.function"
        [href]="item.externalUrl" [target]="item.openInNewTab ? '_blank' : '_self'" (click)="onClickItem($event)">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>
    <!-- item.function -->
    <span class="nav-link" [ngClass]="item.classes" *ngIf="!item.routerLink && !item.externalUrl && item.function"
        (click)="item.function(); onClickItem($event)">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </span>

    <!-- item.routerLink && item.function -->
    <a class="nav-link" [ngClass]="item.classes" *ngIf="item.routerLink && !item.externalUrl && item.function"
        (click)="item.function()" [routerLink]="item.routerLink" routerLinkActive="['active', 'accent']"
        [routerLinkActiveOptions]="item.exactMatch || false" [target]="item.openInNewTab ? '_blank' : '_self'"
        (click)="item.function(); onClickItem($event)">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <!-- item.externalUrl && item.function -->
    <a class="nav-link" [ngClass]="item.classes" *ngIf="!item.routerLink && item.externalUrl && item.function"
        [href]="item.externalUrl" [target]="item.openInNewTab ? '_blank' : '_self'"
        (click)="item.function(); onClickItem($event)">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>
    <ng-template #itemContent>
        <mat-icon class="nav-link-icon" *ngIf="item.icon" fontSet="material-icons-outlined">{{item.icon}}</mat-icon>
        <span class="nav-link-title" [innerHTML]="_i18nService.getTransByKey(item.translateKey)"></span>
        <span class="nav-link-badge" *ngIf="item.badge"
            [ngStyle]="{'background-color': item.badge.bg,'color': item.badge.color}">
            {{item.badge.title}}
        </span>
    </ng-template>
</ng-container>