@import "src/scss/abstracts/variables";

#beastainer {
  padding: 20px 0 20px 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -170px;
  .btn-error {
    font-size: 1.8rem;
    padding: 5px 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%) skewX(-3deg);
    transform: translateX(-50%) skewX(-3deg);
    border: 5px solid #ef8613;
    border-radius: 0;
    color: #ef8613;
    background-color: #fff;
    transition: all .2s ease;
    font-weight: 800;
    box-shadow: 4px 4px 0 #fbe2c6;
  }
}
#beast404re {
  left: 231px;
  top: 68px;
  -webkit-animation-name: crazyrighteye;
  animation-name: crazyrighteye;
}

#beast404le,
#beast404re {
  position: absolute;
  animation-delay: 2s;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#beast404le {
  left: 125px;
  top: 65px;
  -webkit-animation-name: crazylefteye;
  animation-name: crazylefteye;
}

@keyframes crazyrighteye {
  0% {
    left: 231px;
    top: 68px;
  }
  10%,
  20% {
    left: 212px;
    top: 62px;
  }
  40% {
    left: 239px;
    top: 64px;
  }

  50% {
    left: 240px;
    top: 80px;
  }
  60% {
    left: 215px;
    top: 73px;
  }
  100%,
  70% {
    left: 231px;
    top: 68px;
  }
}

@keyframes crazylefteye {
  0% {
    left: 125px;
    top: 65px;
  }
  10%,
  20% {
    left: 118px;
    top: 56px;
  }
  40% {
    left: 148px;
    top: 62px;
  }
  50% {
    left: 145px;
    top: 72px;
  }
  60% {
    left: 121px;
    top: 70px;
  }
  100%,
  70% {
    left: 125px;
    top: 65px;
  }
}
