@import 'src/scss/abstracts/variables';

.user-profile {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .user-toggle {
        height: 100%;
        cursor: pointer;
        width: 60px;
        min-width: 1px;
        padding: 0;
        justify-content: center;
        display: flex;
        border-radius: 0;
        outline: none;
        align-items: center;
            
            .toggler-image { 
                width: 36px;
                height: 36px;
                
                img {
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
        }
    }

     
}
.user-dropdown-list {
    margin: 0;
    padding: 10px 0;

    .user-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        text-decoration: none;

        .mat-icon {
            color: $secondary-text;
        }

        .item-title {
            font-size: 14px;
            color: $primary-text;
        }
    }
}