<div class="user-profile">
    <button mat-button class="user-toggle" [matMenuTriggerFor]="userDropdown">
        <div class="toggler-image">
            <img src="assets/images/user-avatar.jpg" alt="user avatar">
        </div>
    </button>
    <mat-menu #userDropdown="matMenu" [overlapTrigger]="false">
        <ng-template matMenuContent>
            <div class="user-dropdown-list">
                <a class="user-item" mat-menu-item>
                    <mat-icon fontSet="material-icons-outlined">lock_outline</mat-icon>
                    <div class="item-title">
                        Khóa màn hình
                    </div>
                </a>
                <a class="user-item" mat-menu-item>
                    <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
                    <div class="item-title">
                        Tài khoản
                    </div>
                </a>
                <a class="user-item" routerLink="/login" mat-menu-item>
                    <mat-icon fontSet="material-icons-outlined">exit_to_app</mat-icon>
                    <div class="item-title">
                        Đăng xuất
                    </div>
                </a>
            </div>
        </ng-template>
    </mat-menu>
</div>