.layout-container {

  .app-header {
    display: flex;
    flex-shrink: 0;
    height: 56px;
    background: #fff;
    transition: all ease 0.2s;
    z-index: 99;

    .header {
      width: 100%;
      display: flex;
      padding: 0 16px;
      
      .header-inner {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .header-toggle-sidebar {
          outline: none;
        }
    
        .header-menu {
          height: 100%;
          flex-grow: 1;
          display: flex;
          justify-content: space-between;
          align-items: stretch;

          .menu-left {
            display: flex;
            
            .header-item {
              display: flex;

            }
          }

          .menu-right {
            display: flex;

            .header-item {
                display: flex;
  
                &:not(.user) {
                    margin-right: 8px;
                }
              }
          }
        }
  
      }
    }
    
  }



}
