.layout-container {
  height: 100%;
  display: flex;
  position: relative;
  background-color: #f1f5f9;

  .layout-content {
    width: 100%;
    height: 100%;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;


    .main-content {
      display: flex;
      flex-direction: column;
      min-height: calc(100% - 56px);
      
      overflow-y: auto;

      .router-content {
        padding: 32px;
        flex-grow: 1;
      }

      /* width */

      &::-webkit-scrollbar {
        width: 8px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgba($color: #000000, $alpha: 0.2);
        border-radius: 6px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: rgba($color: #000000, $alpha: 0.3);
      }
     
    }

  }

  &.sidebar--hide {
    
    .layout-content {
      padding-left: 0;
    }
    
  }

  &.sidebar--minimize {
    .layout-content {
      padding-left: 64px;
    }
  }
}
