@import "../abstracts/breakpoints";
 
app-sidebar {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    width: 273px;
    min-width: 273px;
    max-width: 273px;
    z-index: 1000;


    // @include media-breakpoint('xs') {
    //     min-width: 0 !important;
    //     max-width: 80vw !important;
    //     width: 80vw !important;
    // }

    &.left-positioned {
        left: 0;
        transform: translateX(-100%);
    }

    &.right-positioned {
        right: 0;
        transform: translateX(100%);
    }

    &.open {
        transform: translateX(0);
    }

    &.locked-open {
        position: relative !important;
        transform: translateX(0) !important;
    }

    &.folded {
        position: absolute !important;
        top: 0;
        bottom: 0;
    }

    &.animations-enabled {
        transition-property: transform, width, min-width, max-width;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
    }

    &.navbar-sidebar {
        transition: all .5s cubic-bezier(.23,1,.32,1) !important;
    }
}

.sidebar-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    opacity: 0;

    &.sidebar-overlay-invisible {
        background-color: rgba($color: #000000, $alpha: .5);
    }
}