<div class="navbar-vertical">
    <div class="navbar-header">
        <a>
            <div class="logo">
                <!-- <div class="logo-image">
                    <img src="assets/images/logo.png" alt="logo">
                </div> -->
                <div class="logo-text">
                    NHƠN HÒA
                </div>
            </div>
        </a>
        <button mat-icon-button class="navbar-toggle" (click)="toggleSidebarFolded()" fxHide.lt-md>
            <i class="material-icons">
                menu
            </i>
        </button>
    </div>
    <div class="navbar-content">
        <div class="navbar-menu">
            <app-navigation></app-navigation>
        </div>
    </div>
</div>