@import "src/app/modules/layout/components/navbar/navbar.theme";
@import "src/app/modules/layout/components/navigation/navigation.theme";
@import "src/app/modules/layout/components/sidebar/sidebar.theme";
@import "src/app/modules/layout/components/header/header.theme";

$themes: (
  'indigo-pink': (
    'primary': #3f51b5, 
    'primary-text':#27303f,
    'secondary-text':#64748b,
    'accent': #ff4081,
    'background': #fff
  ),
  'purple-amber': (
    'primary':#673ab7,
    'primary-text':#27303f,
    'secondary-text':#64748b,
    'accent': #ffd740,
    'background': #fff
  )
);


@mixin layout-theme($themes) {
  @include nav-bar-theme($themes);
  @include navigation-theme($themes);
  @include side-bar-theme($themes);
  @include header-theme($themes);
}

@include layout-theme($themes);

// Material theming tools
@import '~@angular/material/theming';
// Include core Angular Material styles
@include mat-core();

// -----------------------------------------------------------------------------------------------------
// @ Typography
// -----------------------------------------------------------------------------------------------------

// Angular Material typography
$typography: mat-typography-config(
    $font-family: 'Inter, Roboto, Helvetica Neue, Arial, sans-serif',
    $title: mat-typography-level(20px, 32px, 600),
    $body-2: mat-typography-level(14px, 24px, 600),
    $button: mat-typography-level(14px, 14px, 600),
    $input: mat-typography-level(16px, 1.125, 400) // line-height must be unitless !!!
);

// Setup the typography
@include angular-material-typography($typography);

// -----------------------------------------------------------------------------------------------------
// @ Define the default theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$default-primary-palette: mat-palette($mat-deep-purple);
$default-accent-palette: mat-palette($mat-light-blue, 600, 400, 700);
$default-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$theme: mat-light-theme($default-primary-palette, $default-accent-palette, $default-warn-palette);

// Create an Angular Material theme from the $theme map
@include angular-material-theme($theme);