@-webkit-keyframes slideInUp {
    from {
      margin-top: 10px;
    }
  
    to {
      margin-top: 0;
    }
  }
  
  @keyframes slideInUp {
    from {
      margin-top: 10px;

    }
  
    to {
      margin-top: 0;
    }
  }
  
  .slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
  }

  .animated {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}