<div class="navigation">

    <ng-container *ngFor="let item of navigation">

        <nav-group *ngIf="item.type==='group'" [item]="item"></nav-group>

        <nav-collapsable *ngIf="item.type==='collapsable'" [item]="item"></nav-collapsable>

        <nav-item *ngIf="item.type==='item'" [item]="item"></nav-item>

    </ng-container>
    
</div>