@mixin navigation-theme($themes) {

    @each $theme, $value in $themes {
        $background: map-get($value, background );
        $primary: map-get($value, primary );
        $primary-text: map-get($value, primary-text);
        $secondary-text: map-get($value, secondary-text );
        $accent: map-get($value, accent);
 
        .theme-#{$theme} {
 
         .app-navigation {

            .hint-text {
                color: $primary;
            }

            .hint-text-icon {
                color: $secondary-text;
            }

            .nav-link {
                &:hover:not(.routerLink--active) {
                
                    background-color: #f9fafb;
                    .nav-link-icon, .nav-link-title {
                        color: $primary;
                    }
                    
                }

                .nav-link-icon, .nav-link-title {
                   color: $primary-text
                }
            }

            .routerLink--active {
                    background-color: #f1f5f9;

                    .nav-link-icon,
                    .nav-link-title {
                    color: $primary;
                }
                
            }
              .nav-collapsable.open {
                > .nav-link {
                  
                  > .nav-link-icon, .nav-link-title, .toggle-submenu-icon {
                        color: #1a202e;
                  }
                 
                }
              }
         }
         .folded:not(.unfolded) {
            .nav-collapsable.open {
                > .nav-link {
                  
                  > .nav-link-icon {
                        color: $primary !important;
                  }     
                }
              }
           
         }
        } 
    }
     
 }