@import 'src/scss/abstracts/variables';

app-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    
    z-index: 99998;

    mat-progress-bar {
        height: 2px !important;
        .mat-progress-bar-buffer {
            background-color: #e4e5f0 !important;
        }
    }
}
