<div class="mat-confirm-dialog">
  <h2 mat-dialog-title class="mb-0">{{data && data.title || "Confirm"}}</h2>
  <hr />
  <div mat-dialog-content>
    <p style="margin:10px 0">{{data && data.content || "Hi, I'm dialog content"}}</p>
    <span *ngIf="!!data.subContent">{{data && data.subContent}}</span>
  </div>
  <hr />
  <div mat-dialog-actions style="justify-content: flex-end ; margin-bottom:-20px">
    <button mat-button class="warn btn-cancel" color="warn" (click)="onCloseDialog(false)">
      {{data && data.closeText || "Hủy"}}
    </button>
    <button mat-button class="primary btn-search" color="primary" tabindex="-1" (click)="onCloseDialog(true)">
      {{data && data.confirmText || "Đồng ý"}}
    </button>
  </div>
</div>
