<h1 class="mb-4">Danh sách phòng ban</h1>
<div class="row mx-0">
    <div class="col-12 p-0">
        <div class="row mx-0">
            <div class="col-lg-6 px-0 pr-lg-1 mb-2">
                <div class="bg-white p-4 rounded border">
                    <h3 class="text-secondary mb-3">Tìm kiếm</h3>
                    <form>
                        <div class="row mx-0 align-items-baseline">
                            <div class="col-md-6 px-0 pr-md-3">
                                <mat-form-field class="w-100">
                                    <mat-label>Mã phòng ban</mat-label>
                                    <input matInput>
                                  </mat-form-field>
                            </div>
                            <div class="col-md-6 px-0">
                                <mat-form-field class="w-100">
                                    <mat-label>Tên phòng ban</mat-label>
                                    <input matInput>
                                  </mat-form-field>
                            </div>
                            <div class="col-md-12 px-0">
                                <button mat-flat-button color="primary">Tìm kiếm</button>
                            </div>
                        </div>
                       
                    </form>
                </div>
            </div>
            <div class="col-lg-6 px-0 pl-lg-1 mb-2">
                <div class="bg-white p-4 rounded border">
                    <h3 class="text-secondary mb-3">Lọc</h3>
                </div>
            </div>
        </div>   
    </div>
    <div class="col-12 p-0 text-right mb-3">
        <button mat-stroked-button>
            <mat-icon>add</mat-icon>
            <span class="ml-2">Thêm mới</span>
        </button>
    </div>
    <div class="col-12 p-0">
        <table mat-table [dataSource]="dataSource" class="w-100">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
    </div>
</div>
