<ng-container *ngIf="!item.hidden">

    <!-- normal collapsable -->
    <a class="nav-link" [ngClass]="item.classes" *ngIf="!item.routerLink && !item.function"
        (click)="toggleOpen($event)">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <!-- item.routerLink -->
    <a class="nav-link" [ngClass]="item.classes" *ngIf="item.routerLink && !item.externalUrl && !item.function"
        (click)="toggleOpen($event)" routerLink="{{item.routerLink}}" routerLinkActive="['active', 'accent']"
        routerLinkActiveOptions="{exact: item.exactMatch || false}" [target]="item.openInNewTab ? '_blank' : '_self'">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <!-- item.externalUrl -->
    <a class="nav-link" [ngClass]="item.classes" *ngIf="item.routerLink && item.externalUrl && !item.function"
        (click)="toggleOpen($event)" [href]="item.routerLink" [target]="item.openInNewTab ? '_blank' : '_self'">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <!-- item.function -->
    <span class="nav-link" [ngClass]="item.classes" *ngIf="!item.routerLink && item.function"
        (click)="toggleOpen($event); item.function()">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </span>

    <!-- item.routerLink && item.function -->
    <a class="nav-link" [ngClass]="item.classes" *ngIf="item.routerLink && !item.externalUrl && item.function"
        (click)="toggleOpen($event);item.function()" routerLink="{{item.routerLink}}"
        routerLinkActive="['active', 'accent']" routerLinkActiveOptions="{exact: item.exactMatch || false}">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <!-- item.externalUrl && item.function -->
    <a class="nav-link" [ngClass]="item.classes" *ngIf="!item.routerLink && item.externalUrl && item.function"
        (click)="toggleOpen($event);item.function()" [href]="item.routerLink"
        [target]="item.openInNewTab ? '_blank' : '_self'">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <ng-template #itemContent>
        <mat-icon class="nav-link-icon" *ngIf="item.icon" fontSet="material-icons-outlined">{{item.icon}}</mat-icon>
        <span class="nav-link-title" [innerHTML]="_i18nService.getTransByKey(item.translateKey)"></span>
        <span class="nav-link-badge" *ngIf="item.badge"
            [ngStyle]="{'background-color': item.badge.bg, 'color': item.badge.color}">
            {{item.badge.title}}
        </span>
        <i class="material-icons toggle-submenu-icon">
            keyboard_arrow_right
        </i>
    </ng-template>

    <div class="children" [@slideInOut]="isOpen">
        <ng-container *ngFor="let item of item.children">

            <nav-item *ngIf="item.type=='item'" [item]="item"></nav-item>


            <nav-collapsable *ngIf="item.type==='collapsable'" [item]="item"></nav-collapsable>


            <nav-group *ngIf="item.type=='group'" [item]="item"></nav-group>


        </ng-container>
    </div>

</ng-container>