.mat-snack-bar-container.ng-tns-c15-14.ng-trigger.ng-trigger-state.snack-bar-container.ng-star-inserted {
  padding: 0 !important;
}
.custom-wrapper-snackbar {
  .custom-content-snackbar {
    padding: 0 !important;
    width: 100% !important;
    .box-icon-snack-bar {
      display: flex !important;
      justify-items: center !important;
      align-items: center !important;
      background-color: #333 !important;
      padding: 20px 10px !important;
      transform: translateY(0px) !important;
      .mat-icon {
        color: #fff !important;
        margin: 0 !important;
      }
    }
    .wrapper-content-snack-bar {
      margin: 0 !important;
      text-align: center !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      height: auto !important;
      width: 100% !important;
      padding: 20px 35px 20px 5px !important;
      background-color: #666;
      color: #fff !important;
      font-size: 13px !important;
      p {
        margin: 0;
      }
    }
  }
  .custom-snack-bar-action {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    color: #fff !important;
    transform: translateY(5px) !important;
  }
  .custom-content-snackbar.Success {
    .box-icon-snack-bar {
      background-color: #009a1d !important;
    }
    .wrapper-content-snack-bar {
      background-color: #00cd2a !important;
    }
  }
  .custom-content-snackbar.Warning {
    .box-icon-snack-bar {
      background-color: #cb7600 !important;
    }
    .wrapper-content-snack-bar {
      background-color: #ff9d00 !important;
    }
  }
  .custom-content-snackbar.Error {
    .box-icon-snack-bar {
      background-color: #de2d23 !important;
    }
    .wrapper-content-snack-bar {
      background-color: #ff3f32 !important;
    }
  }
}
