<div class="mat-snack-bar-wrapper custom-wrapper-snackbar">
  <div
    class="mat-snack-bar-content custom-content-snackbar {{ (data && messageType[data.type]) || 'Normal' }}"
    [ngSwitch]="data.type"
  >
    <div class="box-icon-snack-bar">
      <mat-icon *ngSwitchCase="1">error</mat-icon>
      <mat-icon *ngSwitchCase="2">warning</mat-icon>
      <mat-icon *ngSwitchCase="3">done</mat-icon>
    </div>
    <div class="wrapper-content-snack-bar">
      <p>{{ (data && data.content) || "I'm Content" }}</p>
    </div>
  </div>
  <div class="mat-snack-bar-action custom-snack-bar-action">
    <button mat-icon-button (click)="onDismissSnackBar()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>
