@mixin footer-theme($theme) {

    $background: map-get($value, background );
    $primary: map-get($value, primary );
    $primary-text: map-get($value, primary-text);
    $secondary-text: map-get($value, secondary-text );
    $accent: map-get($value, accent);

    .app-footer {
        background: map-get($background, background );
    }
    
}