<app-progress-bar></app-progress-bar>
<div class="layout-container">
    <app-sidebar name="navbar"
        class="navbar-sidebar"
        [folded]="themeConfig.layout.navbar.folded"
        lockedOpen="gt-md"
        *ngIf="!themeConfig.layout.navbar.hidden"
        [invisibleOverlay]="true">
        <app-navbar class="left-navbar"></app-navbar>
    </app-sidebar>
    <div class="layout-content">
        <app-header></app-header>
        <div class="main-content">
            <div class="router-content">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>          
        </div>
       
    </div>
</div>