<!--
    Author: Nguyen Chinh Hiep
    Email: nguyenchinhhiep95@gmail.com
    Facebook: facebook.com/hiepnguyen1003
-->

<header class="header">
    <div class="header-inner">
        <!-- Header Toggle Sidebar -->
        <button mat-icon-button class="header-toggle-sidebar" (click)="onToggleSidebarOpen('navbar')" fxHide.gt-md>
            <i class="material-icons">
                menu
            </i>
        </button>
        <!-- Header Menu -->
        <div class="header-menu">
            <div class="menu-left">
                <app-header-nav></app-header-nav>
            </div>
            <div class="menu-right">
                <app-language-selector></app-language-selector>
                <app-user-profile></app-user-profile>
            </div>

        </div>

    </div>

</header>