<div class="login-page">
    <!-- <h1 class="brand-logo" [innerHTML]="'Components.Authentication.Login.LoginBrand' | translate"></h1> -->
    <div class="login-container">
        <div class="login-inner">
            <h3 class="login-title">
                <!-- <i class="fas fa-user"></i> -->
                <span [innerHTML]="'Components.Authentication.Login.LoginTitle' | translate"></span>
            </h3>
            <div class="login-error-message" *ngIf="isLoginError && !isLoading">
                <span [innerHTML]="'Components.Authentication.Login.LoginError' | translate"></span>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()" #f="ngForm" novalidate autocomplete="off">
                <div class="form-group">
                    <label [innerHTML]="'Components.Authentication.Login.Username' | translate"></label>
                    <input type="text" class="form-control" formControlName="username">
                    <div class="form-group-error" *ngIf="(loginForm.get('username')?.dirty || loginForm.get('username')?.touched) || f.submitted">
                        <p class="error-text" *ngIf="loginForm.get('username')?.hasError('required')" [innerHTML]="'Commons.Errors.ErrRequired' | translate"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label [innerHTML]="'Components.Authentication.Login.Password' | translate"></label>
                    <input type="password" class="form-control" formControlName="password">
                    <div class="form-group-error" *ngIf="(loginForm.get('password')?.dirty || loginForm.get('password')?.touched || f.submitted)">
                        <p class="error-text" *ngIf="loginForm.get('password')?.hasError('required')" [innerHTML]="'Commons.Errors.ErrRequired' | translate"></p>
                    </div>
                </div>
                <div class="form-group flex-box">
                    <div class="forgot-password">
                        <a [innerHTML]="'Components.Authentication.Login.ForgotPassword' | translate"></a>
                    </div>
                    <div class="login-btn">
                        <button mat-flat-button type="submit" [disabled]="isLoading">
                            <span *ngIf="!isLoading" [innerHTML]="'Components.Authentication.Login.LoginBtn' | translate"></span>
                            <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="20">
                            </mat-progress-spinner>
                        </button>
                    </div>
                </div>
            </form>
            
        </div>
        <p class="text-secondary text-center mb-0 mt-3">Copyright © 2020 Nhơn Hòa.</p>
    </div>
    
</div>