@import 'src/scss/abstracts/variables';

.login-page {
    background-color: #f1f5f9;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .brand-logo {
        margin-top: -35px;
        margin-bottom: 35px;
        text-align: center;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #151421;
    }
    .login-container {
       
        width: 100%;
        max-width: 416px;

        .login-inner {
            padding: 48px;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
        }

        .login-title {
            padding-bottom: 8px;
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 24px;
            color: $primary-text;

        }

        .flex-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .form-group {
            margin-bottom: 20px;

            label {
                margin-bottom: 6px;
                color: $primary-text;
                font-size: 14px;
                letter-spacing: .5px;
                font-weight: 500;
            }

            .form-control {
                border-radius: 6px !important;
                background: #fff;
                padding: 23px 15px;
                font-size: 14px;
                border-radius: 3px;
                box-shadow: none;
                border: solid 1px #cfd8e3;
                outline: none;
                

                &:focus {
                    border: solid 1px #6875f5;
                }
            }

            .forgot-password {
                color: #6875f5;
                font-size: 14px;
                font-weight: 500;
                a {
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .login-btn {

                button { 
                    color: #fff;
                    min-height: 42px;
                    height: 42px;
                    min-width: 110px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-height: 42px;
                    font-size: 14px;
                    font-weight: 400;
                    border-radius: 5px;
                    outline: none;
                    transition: all ease .3s;

                    &:not(:disabled) {
                        background: #6875f5;
                    }
                    &:not(:disabled):hover {
                        background: #4252df;
                    }

                    ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
                        stroke: #aaabbe !important;
                    }
                }
                
            }
        }
    }

    .error-text {
        color: red;
        font-size: 13px;
    }

    .error-control {
        border-color: red;
    }

    .login-error-message {
        background: #fdf2f2;
        color: #9b1c1c;
        box-shadow: inset 0 0 0 1px #f98080;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        min-height: 64px;
        padding: 16px 24px;
        font-size: 14px;
        line-height: 1;
        margin-bottom: 12px;
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }

    @keyframes shake {
        10%, 90% {
            transform: translate3d(-1px, 0, 0);
          }
          
          20%, 80% {
            transform: translate3d(2px, 0, 0);
          }
        
          30%, 50%, 70% {
            transform: translate3d(-4px, 0, 0);
          }
        
          40%, 60% {
            transform: translate3d(4px, 0, 0);
      }
    }
}