.change-avatar {
  background: transparent;
  border-color: transparent;
  color: #3572b0 !important;
  padding: 4px 0;
  text-decoration: none;
  box-shadow: none;
}

.hoverable {
  width: 120px;
  height: 120px;
  .hoverable-overlay {
    display: none;
  }
  &:hover .hoverable-overlay {
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    display: flex;
    height: 120px;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 120px;
    border-radius: 4px;
    cursor: pointer;
  }
  .avatar {
    width: 100%;
    height: 100%;
  }
}

.input-avatar {
  position: absolute;
  left: -200%;
}
