:focus {
    outline: none !important;
}

.theme-light--global {
    .mat-flat-button.mat-primary,  .mat-mini-fab.mat-primary,  .mat-raised-button.mat-primary {
        background-color: #5850ec;
    }
} 