<nav class="header-nav" fxHide.lt-md>
    <ul class="nav-list">
        <li class="nav-item">
            <button mat-button class="nav-link">Kế hoạch</button>
        </li>
        <li class="nav-item">
            <button mat-button class="nav-link">Kinh doanh</button>
        </li>
        <li class="nav-item">
            <button mat-button class="nav-link">Kho</button>
        </li>
        <li class="nav-item">
            <button mat-button class="nav-link">Xưởng</button>
        </li>
        <li class="nav-item">
            <button mat-button class="nav-link">CCDC</button>
        </li>
        <li class="nav-item">
            <button mat-button class="nav-link">Nhân sự</button>
        </li>
        <li class="nav-item">
            <button mat-button class="nav-link">Kế toán</button>
        </li>
        <li class="nav-item">
            <button mat-button class="nav-link">BLD</button>
        </li>
    </ul>
</nav>
