@import 'src/scss/abstracts/variables';

.header-nav {
    display: flex;

    .nav-list {
        margin: 0;
        display: flex;

        .nav-item {
            display: flex;
            align-items: center;
            margin: 0 2px;

            .nav-link {
                font-size: 13px;
                outline: none;
                text-decoration: none;
                display: block;
                font-weight: 500;
                letter-spacing: .5px;
                color: $primary-text;
            }
        }
    }

}

